.boardTitle {
  font-size: var(--size-m);
  text-align: center;
  color: var(--color-white);
}

.taskCard {
  transition: 0.3s all ease;
}
.taskCard:hover {
  cursor: pointer;
  opacity: 0.8;
}

.input {
  background-color: transparent;
  border: 0;
  outline: none;
  color: var(--color-white);
  padding: var(--unit3) var(--unit);
}

.createTask {
  background-color: var(--color-black);
  border: 0;
  outline: 0;
  color: var(--color-white);
  padding: var(--unit5) var(--unit4);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
  flex-direction: column;
}

.button {
  padding: var(--unit3);
  width: 100%;
  border-radius: 10px;
  outline: 0;
  border: none;
  background-color: var(--color-black);
  color: var(--color-white);
  transition: 0.3s all ease;
  font-size: var(--size-s);
  font-weight: 600;
  margin-top: var(--unit4);
}

.button:hover {
  opacity: 0.7;
  cursor: pointer;
}

.addButton {
  background-color: var(--color-lightBg);
  border: 0;
  padding: var(--unit2);
  border-radius: 10px;
  margin-top: var(--unit2);
  color: var(--color-white);
  font-weight: 600;
}

.addButton:hover {
  cursor: pointer;
  opacity: 0.8;
}
