/* // assignee //priority//milestone/status/ //tags */

.filter {
  background-color: var(--color-lightGrey);
  border-radius: 10px;
  padding: 0 var(--unit2);
  justify-content: center;
  align-items: center;
  width: 5rem;
}

.filter:hover {
  cursor: pointer;
  text-decoration: underline;
}

.tab:hover {
  background-color: var(--color-lightBg);
  cursor: pointer;
  transition: all 0.9s ease;
}

.collapsible {
  height: 12rem;
  width: 30rem;
  background-color: var(--color-lightGrey);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  z-index: 2;
  overflow-y: scroll;
  position: absolute;
  top: 2.5rem;
  display: flex;
  padding: var(--unit2);
  flex-direction: column;
  gap: var(--unit);
}

.collapsible .active {
  display: flex;
  flex-direction: row;
  gap: var(--unit2);
}

.icon {
  position: absolute;
  top: 15px;
}

.label {
  font-size: var(--size-s);
}

.list {
  font-size: var(--size-s);
  margin: var(--unit3) var(--unit2);
  background-color: var(--color-white2);
  padding: var(--unit2) var(--unit3);

  border-radius: 5px;
}

.list:hover {
  cursor: pointer;
  opacity: 0.5;
}

.section {
  font-size: var(--size-s);
  font-weight: 500;
  position: relative;
  margin: 0;
  margin-left: var(--unit3);
}

.section:first-child {
  margin-top: var(--unit2);
}

.icon2 {
  position: absolute;
  top: 2px;
}

.select {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
}

.filterButton {
  padding: var(--unit2) var(--unit2);
}
