.container {
  display: grid;
  margin-top: var(--unit3);
  gap: var(--unit6);
  grid-template-columns: repeat(2, 1fr);
}

.tab {
  display: flex;
  justify-content: flex-end;
  margin: var(--unit4) 0;
}
