.container {
  display: flex;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  flex-direction: column;
  padding: var(--unit5);
  background: var(--color-lightBg);
  color: var(--color-white2);
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='800' height='500' preserveAspectRatio='none' viewBox='0 0 800 500'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1057%26quot%3b)' fill='none'%3e%3crect width='800' height='500' x='0' y='0' fill='rgba(65%2c 90%2c 119%2c 1)'%3e%3c/rect%3e%3cpath d='M0%2c297.174C54.709%2c297.587%2c88.644%2c237.803%2c138.842%2c216.043C202.867%2c188.29%2c298.104%2c212.396%2c333.842%2c152.461C368.489%2c94.356%2c301.527%2c24.988%2c292.763%2c-42.093C283.836%2c-110.423%2c316.98%2c-184.982%2c281.999%2c-244.354C245.6%2c-306.133%2c176.296%2c-347.602%2c105.623%2c-359.72C37.626%2c-371.379%2c-24.323%2c-327.712%2c-90.503%2c-308.226C-156.621%2c-288.758%2c-248.5%2c-304.908%2c-283.061%2c-245.274C-319.295%2c-182.753%2c-240.06%2c-107.494%2c-248.434%2c-35.719C-256.431%2c32.83%2c-357.239%2c87.279%2c-329.217%2c150.348C-301.313%2c213.151%2c-200.265%2c185.963%2c-137.501%2c213.955C-87.561%2c236.228%2c-54.68%2c296.761%2c0%2c297.174' fill='%2334485f'%3e%3c/path%3e%3cpath d='M800 888.662C870.932 898.131 912.861 807.903 971.713 767.191 1028.007 728.248 1114.827 718.808 1138.42 654.5509999999999 1162.191 589.809 1103.153 525.54 1084.854 459.044 1069.3 402.523 1075.721 338.606 1038.917 292.977 1001.645 246.767 942.742 224.16899999999998 884.838 211.06799999999998 829.351 198.514 771.599 201.603 717.885 220.34199999999998 665.8779999999999 238.486 625.384 275.974 586.623 315.108 545.356 356.772 502.543 398.646 485.656 454.804 467.275 515.928 454.246 588.347 488.206 642.391 521.9649999999999 696.115 605.629 685.642 655.421 724.97 713.731 771.0260000000001 726.348 878.8299999999999 800 888.662' fill='%234e6c8f'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1057'%3e%3crect width='800' height='500' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
}

.headerTitle {
  font-size: var(--size-l);
}
.input {
  background-color: transparent;
  border: 0;
  outline: none;
  color: var(--color-white);
  padding: var(--unit3) var(--unit);
  font-size: var(--size-xl);
}
.addButton {
  background-color: var(--color-lightBg);
  border: 0;
  padding: var(--unit2);
  border-radius: 10px;
  margin-top: var(--unit2);
  color: var(--color-white);
  font-weight: 600;
}

.addButton:hover {
  cursor: pointer;
  opacity: 0.8;
}
