.buttonContainer {
  display: flex;
  flex-direction: row;
  background-color: var(--color-lightBg);
  align-items: center;
  padding: var(--unit3);
  border-radius: 10px;
  width: 18rem;
}

.input {
  border-radius: 5px;
  border: none;
  outline: none;
  font-family: inherit;
  background-color: transparent;
  font-size: var(--size-s);
  width: 13rem;
  margin-left: var(--unit4);
}

.add {
  border: none;
  outline: 0;
  background-color: transparent;
}

.add:hover {
  cursor: pointer;
  transform: scale(1.01);
}

.addButton {
  font-size: var(--size-m);
  color: var(--color-darkGrey);
}

.collapsible {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  border-radius: 5px;
  padding: var(--unit3) var(--unit4);
  display: flex;
  outline: 0;
  border: none;
  justify-content: center;
  align-items: center;
  background-color: var(--color-primary);
  color: var(--color-white);
  font-size: var(--size-l);
  font-weight: 500;
}

.button:hover {
  cursor: pointer;
  transform: scale(1.01);
  opacity: 0.9;
}
