.container {
  display: flex;

  justify-content: center;
  align-content: center;

  background-color: var(--color-white);
}

.cardWrapper {
  display: flex;
  align-items: center;
  gap: var(--unit5);
}

.selectCard {
  border-radius: 5px;
  padding: var(--unit2) var(--unit3);
  display: flex;
  outline: 0;
  border: none;
  justify-content: center;
  align-items: center;
  background-color: var(--color-primary);
  color: var(--color-white);
  font-size: var(--size-xl);
  font-weight: 500;
}

.selectCard:hover {
  cursor: pointer;
  transform: scale(1.01);
  opacity: 0.9;
}

.projectSection {
  display: flex;
  flex-direction: column;
  gap: var(--unit5);
  height: 60vh;
  width: 100%;
  overflow-y: scroll;
  padding: var(--unit);
}

.icon {
  font-size: var(--size-xl);
  font-weight: 800;
}
