.container {
  max-height: 100vh;
  padding: 0 var(--unit5);
  display: grid;
  align-content: flex-start;

  border-radius: var(--unit2);
  padding: var(--unit4) var(--unit9);
  background-color: var(--color-white2);
}

.tab {
  display: flex;
  gap: var(--unit11);
  padding: var(--unit7) 0;
  flex-direction: row;
}

.tabHead {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.active {
  font-size: var(--size-l);
  font-weight: 500;
  color: var(--color-black2);
}

.tabContent {
  overflow-x: scroll;
  margin-top: var(--unit4);
}

.avatar {
  display: flex;
  border-radius: 25px;
  overflow: hidden;
  height: 50px;
  width: 50px;
}

.users {
  display: flex;
  flex-direction: row;
  gap: var(--unit4);
}
