.container {
  border-radius: 6px;
  color: var(--color-accent);
  background-color: #f6bbc0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

.label {
  font-size: 10px;
  white-space: nowrap;
  font-weight: 500;
  color: var(--color-white);
}
