.container {
  border-radius: 6px;
  background-color: var(--color-accent);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

.label {
  font-size: 10px;
  white-space: nowrap;
  font-weight: 500;
}
