.overlay {
  min-height: 100vh;
  min-width: 100vw;
  top: 0;
  left: 0;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  align-items: center;
  justify-content: center;
  display: flex;
}

.main {
  height: 50rem;
  max-width: 50rem;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  z-index: 2;
  background-color: var(--color-black2);
  color: var(--color-white);
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.popup {
  height: 100%;
}

.button {
  background-color: var(--color-black);
  color: var(--color-white);
  border-radius: 50%;
  padding: var(--unit4) var(--unit5);
  width: 50px;
  outline: 0;
  border: none;
  transition: all 0.3s ease;
}

.button:hover {
  cursor: pointer;
  opacity: 0.8;
}

.label {
  font-size: var(--size-s);
}

.headerSection {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
}
