.container {
  display: flex;
  width: 40rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  flex-direction: column;
  padding: var(--unit5);
  background: var(--color-lightBg);
  color: var(--color-white);
}

/* .header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
} */

/* .headerTitle {
  font-size: var(--size-xl);
} */
/* .input {
  background-color: transparent;
  border: 0;
  outline: none;
  color: var(--color-white);
  padding: var(--unit3) var(--unit);
  font-size: var(--size-xl);
} */
